.header-buttom .row .col-4 div {
    margin-top: 60px;
    margin-left: 200px;
}

.header-buttom .row .col-4 div p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    width: 297px;
    text-align: center;
}
.header-buttom .row .col-4 div img {
    padding-top: 30px;
}

